.Playlist {
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
}

.Playlist::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}
.Playlist::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.Playlist::-webkit-scrollbar-thumb
{
  background-color: gray;
  border: 1px solid white;
}